<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>执法信息填写</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link href="../WEUI/demos.css" rel="stylesheet" />
    <link href="../WEUI/jquery-weui.css" rel="stylesheet" />
    <link href="../WEUI/weui.min.css" rel="stylesheet" />
    <script src="../WEUI/jquery-2.1.4.js"></script>
    <script src="../WEUI/fastclick.js"></script>
    <script th:src="@{/Notice/AddActivity.js}"></script>
    <script src="../WEUI/jquery-weui.js"></script>

</head>
<body>

<div id="mainBody">
    <header class='demos-header'>
        <h1 class="demos-title">现场检查通知书</h1>
    </header>
    <div class="weui-cells__title" style="margin-bottom:1em">被检查单位信息

            <label for="switchCP" class="weui-switch-cp" style="float:right">
                <input id="switchCP" class="weui-switch-cp__input" type="checkbox" onclick="model_Set()">
                <div class="weui-switch-cp__box"></div>
            </label>

    </div>

    <div class="weui-cells weui-cells_form" id="box1" style="display: none">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">被检查单位<span style="color: red">*</span></label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入被检查单位" id="CHECKED_UNIT" >
            </div>
        </div>
        <div class="weui-cell" style="display: none">
            <div class="weui-cell__hd"><label class="weui-label">信用代码<span style="color: red">*</span></label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入社会信用代码" id="UNIT_NUMBER" >
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">法定代表人<span style="color: red">*</span></label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="输入法定代表人" id="REPRESENT_PEOPLE" >
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">法人联系电话</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="tel" pattern="[0-9]*" placeholder="输入法人联系电话" id="REPRESENT_MOBILE" >
            </div>
        </div>
    </div>



    <div class="weui-cells weui-cells_form">
        <div class="weui-cell" id="time001">
            <div class="weui-cell__hd"><label class="weui-label">检查时间</label></div>
            <div class="weui-cell__bd">
                <input id="CHECKED_START_TIME"  class="weui-input" type="date" >
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">单位地址<span style="color: red">*</span></label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入被检单位" id="ADDRESS" >
            </div>
        </div>
    </div>

    <div class="weui-cells__title">检查单位信息<span style="color: red">*</span></div>
    <div class="weui-cells weui-cells_form">

        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">选择检查方<span style="color: red">*</span></label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" style="text-align: right" id="area" type="text" value="" readonly="" placeholder="请选择">
                </div>
            </div>
        </div>
<!--检查单位1-->
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">检查单位1<span style="color: red">*</span></label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入检查单位" id="CHECK_UNIT1">
            </div>
        </div>

<!--检查人1-->
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">检查人1<span style="color: red">*</span></label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入检查人名称" id="CHECK_PEOPLE1">
            </div>
        </div>
        <!--<div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">检查人1<span style="color: red">*</span></label></div>
            <div class="weui-cell__bd">
                <div>
                    <table>
                        <tr>
                            <td>
                                <input class="weui-input" type="text" placeholder="请输入检查人名称"id="CHECK_PEOPLE1"   onkeyup="txtchange2()" onblur="lost2()"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="chcontent2" class="hidden">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>-->

<!--检查人证件号1-->
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">证件号1<span style="color: red">*</span></label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入证件号" id="CARD_NUMBER1" >
            </div>
        </div>


    </div>
        <div id="othercheck" style="display: none;margin-top: 0px"class="weui-cells weui-cells_form">

            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">检查单位2</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入检查单位" id="CHECK_UNIT2" >
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">检查人2</label></div>
                <div class="weui-cell__bd">
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <input class="weui-input" type="text" placeholder="请输入检查人名称" id="CHECK_PEOPLE2"   onkeyup="txtchange3()" onblur="lost3()"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="chcontent3" class="hidden">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">证件号2</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入证件号" id="CARD_NUMBER2" >
                </div>
            </div>

        </div>

        <a class="weui-cell weui-cell_link" onclick="addCheckMenSet()">
            <div class="weui-cell__bd">添加其他检查人员</div>
        </a>
    </div>



<div class="weui-cells__title">专家信息</div>
<div class="weui-cells weui-cells_form" id="otherbox" style="margin-top: 0px" >

    <div class="weui-cell" id="expert1">
        <div class="weui-cell__hd"><label class="weui-label" >专家名称1</label></div>
        <div class="weui-cell__bd">
            <div>
                <table>
                    <tr>
                        <td>
                            <input class="weui-input" type="text" placeholder="请输入专家名称" id="EXPERT_NAME1"   onkeyup="txtchange1(1)" onblur="lost1(1)"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="tbcontent1" class="hidden">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="weui-cell" id="expertName1">
        <div class="weui-cell__hd"><label class="weui-label" >专家单位1</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入专家单位" id="EXPERT_UNIT1" >
        </div>
    </div>
</div>
<a class="weui-cell weui-cell_link">
    <div class="weui-cell__bd" onclick="addCheckExpertSet()">添加</div>
    <div class="weui-cell__bd" onclick="deleteCheckExpertSet()" style="color: red">删除</div>
</a>
</div>


    <div class="weui-cells__title">检查项目</div>

    <div id="CheckList">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cells weui-cells_checkbox" id="List" style="width: 100%">

                </div>
            </div>
        </div>
    </div>

    <div class="weui-cells__title">检查方式</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell__bd">
            <div style="width:90%;margin-left: 5%;margin-top: 5%;margin-bottom: 5%">
                <textarea class="weui-textarea" placeholder="请输入检查方式" rows="1" id="NOTICE_WAY"></textarea>
            </div>
        </div>
    </div>
    <div style="margin-top: 0px"class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">检查联系人</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入检查联系人"  id="NOTICE_CONTACTS">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">电话</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" placeholder="请输入电话"id="NOTICE_PHONE"  >
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">检查通知书编号<span style="color: red">*</span></label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" placeholder="请输入编号"id="NOTIFICATION_NUMBER"  >
            </div>
        </div>
    </div>
    <div  style="margin-top:20px;margin-bottom: 30px;">
        <input id="NextStep" onclick="submitRecord()"  class="weui-btn weui-btn_primary" style="width:90%;font-size:20px;" value="下一步" type="button" >
    </div>

 <!--   <div  style="margin-top:20px;margin-bottom: 30px;">
        <input onclick="temporaryRecord()"  class="weui-btn weui-btn_primary" style="width:90%;font-size:20px;" value="暂存" type="button" >
    </div>-->


<div class='demos-content-padded' id="loadingmore" style="display: none">
    <div class="weui-loadmore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在提交创建</span>
    </div>
    <div class="weui-loadmore weui-loadmore_line">
        <span class="weui-loadmore__tips">欢迎使用</span>
    </div>
    <div class="weui-loadmore weui-loadmore_line weui-loadmore_dot">
        <span class="weui-loadmore__tips"></span>
    </div>
</div>

<script>

    $(function () {
        document.getElementById("NOTICE_WAY").value = "现场检查";
    });



    //获取检查人信息
    $(function () {
        $.ajax({
            type: "POST",
            url:  "../data/getCheckerByUserId",
            data: {
                userId: userId
            },
            dataType: "json",
            async: true,
            success: function (data) {
                if (typeof(data.name)==="undefined" || data.name == "") {
                    document.getElementById("CHECK_PEOPLE1").value = "无记录";
                    document.getElementById("NOTICE_CONTACTS").value = "无记录";
                }else{
                    document.getElementById("CHECK_PEOPLE1").value = data.name;
                    document.getElementById("NOTICE_CONTACTS").value = data.name;
                }

                if (typeof(data.enforce_number)==="undefined" || data.enforce_number == "" || data.enforce_number == null) {
                    document.getElementById("CARD_NUMBER1").value = "无记录";
                }else{
                    document.getElementById("CARD_NUMBER1").value = data.enforce_number;
                }

                if (typeof(data.phone)==="undefined" || data.phone == "" || data.phone == null) {
                    document.getElementById("NOTICE_PHONE").value = "无记录";
                }else{
                    document.getElementById("NOTICE_PHONE").value = data.phone;
                }

            }
        });
    });



    var arr = [];
    var arr1 = [];
    var param = 0;
    function txtchange1(h){
        var word = $("#EXPERT_NAME"+h).val();
        $.ajax({
            type:"GET",
            url:"../data/getExpertMsg?word="+word,
            dataType: "json",
            success:function (data){
                $("#tbcontent"+h).html("");
                var expertName = data.expertName;
                var expertDepartment = data.expertDepartment;
                param = h;
                for(var i=0;i<expertName.length;i++){
                    arr.push(expertName[i]);
                    arr1.push(expertDepartment[i]);
                    $("#tbcontent"+h).append('<div class="item" onclick="mousedown1(this)">' + expertName[i] + '</div>');
                }
                $("#tbcontent"+h).slideDown();
            }
        })
    }
    function mousedown1(object) {
        $("#EXPERT_NAME"+param).val($(object).text());

        var m=0;
        for(var x=0;x<arr.length;x++){
            if(arr[x]==$("#EXPERT_NAME"+param).val()){
                m=x;
                document.getElementById("EXPERT_UNIT"+param).value = arr1[m];
            }
        }
        $("#tbcontent"+param).fadeOut();
        arr = [];
        arr1 = [];
    }
    function lost1(h) {
        $("#tbcontent"+h).fadeOut();

    }




    $("#area").picker({
        title: "",
        cols: [
            {
                textAlign: 'center',
                values: ['选择','宁','江北', '玄', '秦','建','鼓','栖','经开','雨','江','浦','六','溧','高']
            }
        ],
        onChange: function(p, v, dv) {
            console.log(p, v, dv);
        },
        onClose: function(p, v, d) {
            if (p.value == "宁") {
                document.getElementById("CHECK_UNIT1").value = "南京市应急管理局";
            }
            if (p.value == "江北") {
                document.getElementById("CHECK_UNIT1").value = "南京市江北新区应急管理局";
            }
            if (p.value == "玄") {
                document.getElementById("CHECK_UNIT1").value = "南京市玄武区应急管理局";
            }
            if (p.value == "秦") {
                document.getElementById("CHECK_UNIT1").value = "南京市秦淮区应急管理局";
            }
            if (p.value == "建") {
                document.getElementById("CHECK_UNIT1").value = "南京市建邺区应急管理局";
            }
            if (p.value == "鼓") {
                document.getElementById("CHECK_UNIT1").value = "南京市鼓楼区应急管理局";
            }
            if (p.value == "栖") {
                document.getElementById("CHECK_UNIT1").value = "南京市栖霞区应急管理局";
            }
            if (p.value == "经开") {
                document.getElementById("CHECK_UNIT1").value = "南京市经济开发区应急管理局";
            }
            if (p.value == "雨") {
                document.getElementById("CHECK_UNIT1").value = "南京市雨花台区应急管理局";
            }
            if (p.value == "江") {
                document.getElementById("CHECK_UNIT1").value = "南京市江宁区应急管理局";
            }
            if (p.value == "浦") {
                document.getElementById("CHECK_UNIT1").value = "南京市浦口区应急管理局";
            }
            if (p.value == "六") {
                document.getElementById("CHECK_UNIT1").value = "南京市六合区应急管理局";
            }
            if (p.value == "溧") {
                document.getElementById("CHECK_UNIT1").value = "南京市溧水区应急管理局";
            }
            if (p.value == "高") {
                document.getElementById("CHECK_UNIT1").value = "南京市高淳区应急管理局";
            }
            console.log("close");
        },

    });




/*    var arr2 = [];
    var arr3 = [];
    var arr4 = [];
    function txtchange2(){
        var word = $("#CHECK_PEOPLE1").val();
        $.ajax({
            type:"GET",
            url:"../data/getZjCheckeMsg?word="+word,
            dataType: "json",
            success:function (data){
                $("#chcontent2").html("");
                var checkeName = data.checkeName;
                var mobile = data.mobile;
                var enforcement_card = data.enforcement_card;
                for(var i=0;i<checkeName.length;i++){
                    arr2.push(checkeName[i]);
                    arr3.push(mobile[i]);
                    arr4.push(enforcement_card[i]);
                    $("#chcontent2").append('<div class="item" onclick="mousedown2(this)">' + checkeName[i] + '</div>');
                }
                $("#chcontent2").slideDown();
            }
        })
    }
    function mousedown2(object) {
        ;
        document.getElementById("CHECK_PEOPLE1").value = $(object).text();
        var h=0;
        for(var x=0;x<arr2.length;x++){
            if( arr2[x]== $("#CHECK_PEOPLE1").val() ){
                h=x;
                document.getElementById("NOTICE_CONTACTS").value = arr2[h];
                document.getElementById("NOTICE_PHONE").value = arr3[h];
                document.getElementById("CARD_NUMBER1").value = arr4[h];

            }
        }
        $("#chcontent2").fadeOut();
    }
    function lost2() {
        $("#chcontent2").fadeOut();
    }*/




    var arr5 = [];
    var arr6 = [];
    var arr7 = [];
    function txtchange3(){
        var word = $("#CHECK_PEOPLE2").val();
        $.ajax({
            type:"GET",
            url:"../data/getZjCheckeMsg?word="+word,
            dataType: "json",
            success:function (data){
                $("#chcontent3").html("");
                var checkeName = data.checkeName;
                var mobile = data.mobile;
                var enforcement_card = data.enforcement_card;
                for(var i=0;i<checkeName.length;i++){
                    arr5.push(checkeName[i]);
                    arr6.push(mobile[i]);
                    arr7.push(enforcement_card[i]);
                    $("#chcontent3").append('<div class="item" onclick="mousedown3(this)">' + checkeName[i] + '</div>');
                }
                $("#chcontent3").slideDown();
            }
        })
    }
    function mousedown3(object) {

        document.getElementById("CHECK_PEOPLE2").value = $(object).text();

        var h=0;
        for(var x=0;x<arr5.length;x++){
            if( arr5[x]== $("#CHECK_PEOPLE2").val() ){
                h=x;
                document.getElementById("CARD_NUMBER2").value = arr7[h];
            }
        }
        $("#chcontent3").fadeOut();
    }
    function lost3() {
        $("#chcontent3").fadeOut();
    }




</script>
</body>
</html>


