<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script src="../libs/jquery.js"></script>


    <script type="text/javascript" src="../libs/flashcanvas.js"></script>

    <!--处理支持H5的浏览器,使用canvas,非压缩吧，去掉了其中的签字横线，可以使用jSignature.min.js 看看两者的区别-->
    <script src="../jSignature.js"></script>

    <style type="text/css">
        #signature{
            border: 1px solid red;
        }
    </style>
    <script type="text/javascript">
        //初始化画布
        $(document).ready(function(){
            $("#signature").jSignature({height:300,color:"#000",lineWidth:4});
        })
        //重置画布
        function clearSig(){
            $("#signature").jSignature("clear");
        }
        //将画布内容显示到IMG
        function importImg(){
            var sig=$("#signature");
            $("#img").attr("src","data:"+sig.jSignature('getData'));
        }
    </script>

</head>
<body>
<button onclick="clearSig()">重置</button>
<button onclick="importImg()">获取</button>
<div id="signature"></div>
<img id="img">
</body>

</html>
