<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>PDFH5</title>
    <link rel="stylesheet" href="../pdfjs/style.css" />
    <link rel="stylesheet" href="../pdfjs/pdfh5.css" />
    <style>
        .pdfjs {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: #fff;
            position: relative;
        }
    </style>
</head>

<body>
<div class="pdfjs"></div>

<script src="../pdfjs/pdf.js" type="text/javascript" charset="utf-8"></script>
<script src="../pdfjs/pdf.worker.js" type="text/javascript" charset="utf-8"></script>
<script src="../pdfjs/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../pdfjs/pdfh5.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return (r[2]); return null;
    }
    var url=decodeURI(GetQueryString("url"));
    // var url = "http://118.89.56.33:8999/pdfh5/default.pdf"
    // url=url.substring(2)
    // url="http://127.0.0.1:8081"+url;
    // url="../Content/Images/pdf/"+url;
    // url="../Content/Images/pdf/4、企业安全生产责任制全覆盖.pdf";
    // alert(url);
    // var url = 'default.pdf';
    var pdfh5 = new Pdfh5('.pdfjs', {
        pdfurl: url
    });
    //监听当前加载的pdf页数,currentPageDom当前加载的pdf的dom,currentNum当前加载的pdf页数,
    pdfh5.on("renderPages",function(currentPageDom){
        console.log(this.currentNum)
        console.log(pdfh5.currentNum)
    })

</script>
</body>

</html>
