<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>检查信息填写</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet"  href="../assets/css/icon.css"/>
    <link rel="stylesheet" type="text/css"  href="../assets/css/iconfont.css"/>

    <link rel="stylesheet"  href="../assets/css/example.css">
    <link href="../WEUI/demos.css" rel="stylesheet" />
    <link href="../WEUI/jquery-weui.css" rel="stylesheet" />
    <link href="../WEUI/weui.min.css" rel="stylesheet" />
    <script src="../WEUI/jquery-2.1.4.js"></script>
    <script src="../WEUI/fastclick.js"></script>
    <link href="../css/common.css" type="text/css" rel="stylesheet"/>
    <link href="../css/index.css" type="text/css" rel="stylesheet"/>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/URL.js"></script>
    <script src="../WEUI/jquery-weui.js"></script>

    <script src="../Common/TemporaryUrl.js"></script>
    <style>
        li {
            float: left;
            width: 25%;
            margin-left: 30px;
            list-style-type: none;
        }

    </style>

</head>
<body>
<div id="mainBody">

    <div class="page msg_success js_show">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"style="font-size: 120px"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">责令限期整改指令书已经成功生成</h2>
                <!--<p class="weui-msg__desc">您的责令限期整改指令书已经成功生成</p>-->
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area" id="PdfUrl">
                    <a class="weui-btn weui-btn_primary" onclick="showPdf()" >预览责令限期整改指令书</a><!--//onclick="showPdf()"-->
                    <!--<a class="weui-btn weui-btn_default" href="javascript:history.back();">再来一次</a>-->
                </p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" onclick="getErWeiCode()">预览二维码</a>
                    <!--<a class="weui-btn weui-btn_default" href="javascript:history.back();">再来一次</a>-->
                </p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" onclick="back()" >返回</a>
                    <!--<a class="weui-btn weui-btn_default" href="javascript:history.back();">再来一次</a>-->
                </p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a class="weui-footer__link" href="javascript:void(0);"></a>
                    </p>
                    <p class="weui-footer__text">南京理工大学提供技术支持</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weui-gallery" id="backImg" style="display: none">
    <span class="weui-gallery__img" style="background-image: url(../images/withoutImg.png);" id="backCodeImg"></span>
    <div class="weui-gallery__opr">
        <a class="weui-gallery__del" href="javascript:"onclick="hideerweima()">
            <!--<i class="weui-icon-delete weui-icon_gallery-delete"></i>-->
            <i class="weui-icon-cancel"></i>
        </a>
    </div>
</div>
<div class="weui-gallery" id="backPdf" style="display: none">
    <span class="weui-gallery__img" style="background-image: url(../images/withoutImg.png);" id="backPdfImg"></span>
    <div class="weui-gallery__opr">
        <a class="weui-gallery__del" href="javascript:"onclick="hidePdf()">
            <!--<i class="weui-icon-delete weui-icon_gallery-delete"></i>-->
            <i class="weui-icon-cancel"></i>
        </a>
    </div>
</div>
<script>

    var RecordId=getUrlParam("RecordId");
    var user_id=getUrlParam("user_id");

    function back(){
        window.location.href="../exLawDictionary/otherPdtPage?RecordId="+RecordId+"&userId="+userId+"&social_credit_code="+social_credit_code;
    }

    window.onload=function () {

        getPdfRecord();
    };
    //获取url参数
    function getUrlParam(key){
        // 获取参数
        var url = window.location.search;
        // 正则筛选地址栏
        var reg = new RegExp("(^|&)"+ key +"=([^&]*)(&|$)");
        // 匹配目标参数
        var result = url.substr(1).match(reg);
        //返回参数值
        return result ? decodeURIComponent(result[2]) : null;
    }

    function getErWeiCode(){
        $("#backImg").css("display","block");
    }
    function  hideerweima(){
        $("#backImg").css("display","none");

    }
    function  showPdf(){
        location.href="../page/PdfView?url="+finalUrl;

    }
    function hidePdf(){
        $("#backPdf").css("display","none");

    }
    var finalUrl="";
    function getPdfRecord(){
        RecordId;
        $.ajax({
            type: "POST",
            url:  "../PdfThree/getExRecord",
            data: {
                RecordId: RecordId
            },
            dataType: "json",
            async: true,
            success: function (data) {
                if (data.backFlag == "ok") {
                    // alert("提交成功")
                    // $("#modal-6").modal("hide");
                    var PdfUrl=data.RecordInfo[0].ENFORCE_PAPER;
                    finalUrl="../expert_zeling/"+PdfUrl;
                    var QR_CODE_URL=data.RecordInfo[0].QR_CODE_URL;
                    var url="url(../expert_zeling/"+QR_CODE_URL+")";
                    // $("#backCodeImg").css("background",url);
                    $("#backCodeImg").css("background",""+url+" no-repeat center center");
                    $("#backCodeImg").css("background-size","100%");


                    // 100%
                    $("#PdfUrl").html('<a class="weui-btn weui-btn_primary" onclick="showPdf()">预览责令限期整改指令书</a>');


                }
                else {
                    alert("加载失败，请重新加载");

                }
            }
        })
    }
</script>
</body>
</html>


