<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>隐患选择</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="../WEUI/css/weui.css"/>
    <link rel="stylesheet" href="../WEUI/css/jquery-weui.min.css"/>
    <link rel="stylesheet" href="../WEUI/css/example.css"/>
    <script src="../WEUI/js/jquery.min.js"></script>
    <script src="../WEUI/js/jquery-weui.min.js"></script>

    <script src="../Common/TemporaryUrl.js"></script>
    <style>
        li {
            float: left;
            width: 25%;
            margin-left: 30px;
            list-style-type: none;
        }
    </style>
</head>
<body>
<div id="mainBody">
    <div class="page msg_success js_show">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"style="font-size: 120px"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">判断隐患类别</h2>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" onclick="next()" style="background-color: green">合格</a>
                </p>
            </div>
            <div class="weui-msg__opr-area" >
                <p class="weui-btn-area" id="PdfUrl">
                    <a class="weui-btn weui-btn_primary" onclick="generalDanger()" style="background-color: #FF4500;">一般隐患</a>
                </p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" onclick="largerDanger()" style="background-color: red">较大以上隐患</a>
                </p>
            </div>

            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" onclick="temporaryRecord()">暂存</a>
                </p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a class="weui-footer__link" href="javascript:void(0);"></a>
                    </p>
                    <p class="weui-footer__text">南京理工大学提供技术支持</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function next() {
        $.ajax({
            type:"POST",
            url:"../data/putExpertHeGeDate",
            data:
                {
                    RecordId: RecordId,
                    entId:social_credit_code
                },
            dataType: "json",
            async: false,
            success: function (data) {
                // if (data.msg == "执法记录创建成功！"){
                alert("上报成功");
                // }
                // else {
                //     alert("上报失败");
                // }
            }
        });
        alert("操作成功");
        window.location.href="../page/exindex?ent_id="+social_credit_code+"&user_id="+userId;
    }
    function getParam(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return unescape(r[2]);
        return null;
    }
    var RecordId=getParam("RecordId");
    var social_credit_code=getParam("social_credit_code");
    var userId=getParam("userId");
    function generalDanger() {
        window.location.href="../exLawDictionary/GeneralHiddenDanger?RecordId="+RecordId+"&userId="+userId+"&social_credit_code="+social_credit_code;

    }
    function largerDanger() {
        window.location.href="../exLawDictionary/hiddenDangerIndex?RecordId="+RecordId+"&userId="+userId+"&social_credit_code="+social_credit_code;

    }
</script>
</body>
</html>


