<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二维码</title>
</head>
<body>
<div style="margin-top: 40%">
    <img id="img" style="width: 100%;height: 100%;vertical-align: middle;"/>
</div>
</body>
<script>
    function getParam(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return unescape(r[2]);
        return null;
    }
    var url = getParam("url");
    document.getElementById("img").setAttribute("src","../"+url);
</script>
</html>