<!DOCTYPE html>
<html lang="en" class="ui-mobile" xmlns:th="http://www.thymeleaf.org">
<head runat="server">
    <meta charset="UTF-8">
    <title>安全生产执法检查</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link type="text/css" rel="stylesheet" th:href="@{/Content/Index/jquery.mobile-1.3.2.min.css}" />
    <link type="text/css" rel="Stylesheet" th:href="@{/Content/Index/bootstrap.min.css}" />
    <link type="text/css" rel="Stylesheet" th:href="@{/Content/Index/procedure_serve.css}" />
    <script type="text/javascript" th:src="@{/Scripts/Index/jquery-1.11.2.js}" ></script>
    <script type="text/javascript" th:src="@{/Scripts/Index/jquery.mobile-1.3.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/Scripts/Index/bootstrap.js}" ></script>
    <!--<script type="text/javascript" th:src="@{/Scripts/Model/model.js}"></script>-->
    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return (r[2]); return null;
        }
        var one_id=GetQueryString("one_id");

        //初始加载提交材料
        window.onload = function () {
            $.post("../Index/checkAllTemp",null, function (res)
            {
                var title=decodeURI(GetQueryString("title"));//decodeURI()将中文转换成字符串
                document.getElementById("titleName").innerHTML = title;
                var testJson = eval(res);
                if (testJson[0]["msg"]!='fail')
                {
                    for (var i = 0; i < testJson.length; i++) {
                        if (testJson[i]["FOUR_NAME"]!=null) {
                            $("#List").append(
                                "<tr style='border: 1px solid;'>"+
                                "<td style='border: 1px solid;'>"+
                                "<li class='elemb'>"+
                                "<div>"+
                                "<p>"+"模板主题："+"</p>" +
                                "</div>" +
                                "<div style='width: 190px'>" +
                                "<p>" + testJson[i]["FOUR_NAME"] + "</p>" +
                                "</div>" +
                                "<button type='button' class='btn btn-primary' go='true' four_img='"+testJson[i]["FOUR_IMG"]+"' four_id='" + testJson[i]["FOUR_ID"] + "'  title='" + testJson[i]["FOUR_NAME"] + "'>查看模板</button>" +
                                "<li/>"+
                                "</td style='border: 1px solid;'> "+
                                "<tr style='border: 1px solid;'>"
                            );
                        }else {
                            $("#List").append(
                                "<tr style='border: 1px solid;'>"+
                                "<td style='border: 1px solid;'>"+
                                "<li class='elemb'>"+
                                "<div>"+
                                "<p>"+"模板主题："+"</p>" +
                                "</div>" +
                                "<div style='width: 190px'>" +
                                "<p>" + testJson[i]["FIVE_NAME"] + "</p>" +
                                "</div>" +
                                "<button type='button' class='btn btn-primary' come='true' five_img='"+testJson[i]["FIVE_IMG"]+"' five_id='" + testJson[i]["FIVE_ID"] + "'  title='" + testJson[i]["FIVE_NAME"] + "'>查看模板</button>" +
                                "<li/>"+
                                "</td style='border: 1px solid;'> "+
                                "<tr style='border: 1px solid;'>"
                            );
                        }

                    }
                    $("button[go]").click(function () {
                        location.href="../page/PdfView?url=../"+$(this).attr("four_img");
                    });
                    $("button[come]").click(function () {
                        location.href="../page/PdfView?url=../"+$(this).attr("five_img");
                    });

                }else {
                    alert(testJson[0]["failInfo"]);
                }

            });

        };

    </script>



</head>
<body>

<h3 id="titleName"  style="text-align:center "></h3>

<div style="margin-top: 30px">
    <table id="List"  border="0" cellspacing="0" cellpadding="0" style="border: 1px solid;" >

    </table>
</div>


</body>
</html>